
#texto1{
    background-color: red;
    height: 30px;

}

#texto2{
    background-color:grey;
    height: 30px;


}


#h1{
    font-weight: bold;
}


#p{
    font-size: 100px;
    background-color: green;
    
    }

img{
   
    float: right;
}

footer{
   background-color: greenyellow;
   float: right;


}
