
header{
    font-weight: bold;
    font-size: 50px;
}
img{
    float: right;
}
p{
    font-size: 20px;
    background-color: chartreuse;
}
footer{
    background-color: yellowgreen;
    float: right;
}
